@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RealTimeChatApplication</title>

    <link rel="stylesheet" href="~/css/site.css" />
 
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body>
    @* <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RealTimeChatApplication</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@
    <div class="my-navbar">

            <a asp-controller="Home" asp-action="Index">RiceChatApp</a>
        @if (SignInManager.IsSignedIn(User))
        {
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Home" asp-action="Find">Find</a>
            <a asp-controller="Home" asp-action="Private">Private</a>
            <a asp-controller="Account" asp-action="Logout">Logout</a>
        }
    </div>
    <div class="main">
        @if (User.Identity.IsAuthenticated)
        {
            @await Component.InvokeAsync("Room", new { maxPriority = 2, isDone = false })
        }

        <div class="chat">
            @RenderBody()
        </div>


    </div>
    <div class="modal" id="create-room-modal">

        <form asp-controller="Home" asp-action="CreateRoom" class="modal-body">
            <button type="button" class="close" onclick="closeModal()">X</button>
            <header>Create Room</header>
            <div>
                <input name="name" />
            </div>
            <footer>
                <button>Create</button>
            </footer>
        </form>

    </div>

    <footer class="border-top footer text-muted">
       
            &copy; 2020 - RealTimeChatApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
