@model RegisterViewModel
<link href="~/css/login.css" rel="stylesheet" />
<div class="container register-form">
    <div class="form">
        <div class="note">
            <p>This is a simpleRegister Form made using Boostrap.</p>
        </div>

        <div class="form-content">
            <div class="row">
                <div class="col-md-12">
                    <form asp-controller="Account" asp-action="Register">
                        <div class="form-group">
                            <label asp-for="User" class="text-uppercase"></label>
                            <input asp-for="User" class="form-control" placeholder="">
                            <span asp-validation-for="User" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="text-uppercase"></label>
                            <input asp-for="Email" class="form-control" placeholder="">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Password" class="text-uppercase"></label>
                            <input asp-for="Password" class="form-control" placeholder="">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="text-uppercase"></label>
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                        </div>
                        <button type="submit" class="btnSubmit">Submit</button>
                    </form>
                </div>
            </div>
       
        </div>
    </div>
</div>